# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - JavaScript node dependencies
node_modules


download_cache/*.zip
logs/*.log
gauge-project
.gauge
node_modules/
dist
